html,
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  background-color: #f1f3f5;
  font-weight: 200;
  color: #745fb5;
  padding: 0px;
  margin: 0px;
}

.full-height {
  height: 80vh;
}

.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 36px;
  line-height: 0%;
}

.purple {
  color: #9eaab6;
}

.description {
  font-size: 28px;
}

.split {
  font-size: 48px;
}
